h1 {
  padding: 15px 0 0 30px;
}
h2 {
  padding: 15px 0 75px 55px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  margin: 0;
  padding: 0;
}
.container {
  max-width: 600px;
  padding: 15px;
  border: 2px solid purple;
}
input {
  padding: 5px;
  border: 1px solid blue;
  width: 100%;
}
.btn-primary {
  margin-top: 5px;
}
